@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* index.css */
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');
@import "leaflet/dist/leaflet.css";

.leaflet-container {
  width: 100%;
  height: 400px; /* Adjust height as needed */
  border-radius: 0.5rem;
}
@keyframes slideDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

/* Hide the default date input calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  /* For Chrome, Safari, Edge, Opera */
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer; /* Keeps the input clickable, though the icon is hidden */
}

/* Hide the pointer/clear button that sometimes appears */
input[type="date"]::-webkit-clear-button {
  /* For Chrome, Safari, Edge, Opera */
  display: none;
}

/* For Firefox */
input[type="date"] {
  -moz-appearance: textfield; /* Removes the spin button in Firefox */
  appearance: textfield; /* Standard property for future support */
}
input[type="date"]::-moz-focus-inner {
  /* Hides inner focus ring in Firefox */
  border: 0;
}

/* Optional: To hide the down arrow that may appear in some browsers */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* To ensure it still functions as a date input */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
}
.from-stem{
  width: 650px !important;
}

body {
    background-color: #211e2f; 
}

.sidebar-gradient {
    background: linear-gradient(135deg, #6c4b9d 0%, #30264d 100%);
}